version: '3.8'

services:
  mongo:
    image: mongo:6
    container_name: assignment_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build: .
    container_name: assignment_api
    restart: always

    env_file:
      - .env

    ports:
      - "5000:5000"

    depends_on:
      - mongo

volumes:
  mongo_data:
